*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000000;
    min-height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;

    min-width: 80vw;
    min-height: 55vh;
    border-radius: 2.5rem;
    background-color: #191C1E;
    padding: 2rem;
}

.card-number{
    background-color: #28343C;
    color: #C3E7FF;
    padding: 1.5rem 2.2rem;
    font-size: 12.5rem;
    border-radius: 2.5rem;
}